@media screen and (max-width :1440px){
    .box1 {
        top: 343px;
    }
    .fixed1 {
        top: 550px !important;
    }
}
@media screen and (max-width :768px){
    html body .header {
        background: linear-gradient(45deg, #d59c80, rgb(103, 135, 248));
    }
    html body .header .logo {
        margin: 0px 0 0 42px;
        position: absolute;
        top: 14px;
        padding: 0;
        width: 29%;
    }
    .fixed1 {
        top: 427px !important;
    }
    html body .header .nav-menu .temp {
        /* display: none; */
        /* visibility: hidden; */
    }
    html body .header .button {
        display: none;
    } 
    html body .header .nav-menu {
        display: none;
    }
    html body .header .burger {
        display: block;
        position: absolute;
        right: 10%;
        top: 36px;
    }
    html body .header .nav-menu .temp li {
        display: block;
        margin-bottom: 5px;
    }
    html body .header .nav-menu .temp li:nth-child(1) {
        margin: 0 0 4px 15px;
    }
    html body .banner .banner-content .width1 {
        width: 83%;
    }
    html body .banner .banner-content .width2 {
        width: 100%;
    }
    html body .banner .banner-content .width2 marquee h1 {
       margin-right: 60px;
    }
    html body .banner .banner-content .width3 {
        width: 88%;
    }
    html body .banner .banner-content .width3 marquee p {
        margin-right: 20px;
    }
    html body .banner .banner-content .width4 {
        width: 33%;
    }
    html body .banner .banner-content .width1 marquee span p {
        margin-right: 65px;
    }
        
    html body .practice-area .practice-content .tag-line {
        width: 110%;
    }
    html body .practice-area .practice-content .practice-content-heading {
        width: 116%;
    }
    .law-agency .law-agency-content .law-heading {
        padding: 0px 18px 0px 25px;
    }
    .law-agency .law-agency-content .para1 {
        padding: 0px 32px 0px;
    }
    .law-agency .law-agency-content .para2 {
        padding: 0 15px 24px 32px;
    }
    .contact-form .main-contact-form .form-heading {
        padding: 22px 45px 20px 55px;
    }
    .contact-form .main-contact-form form {
        padding: 0px 13px 0;
    }
    .contact-form .main-contact-form form input {
        margin-left: 19px;
    }
    .contact-form .main-contact-form form select {
        margin: 10px 0 9px 19px;
    }
    .contact-form .main-contact-form form input:nth-child(4) {
        margin: 0 0 0 24px;
    }
    .contact-form .main-contact-form form textarea {
        margin: 0 0 0 20px;
    }
    .contact-form .main-contact-form form input:nth-child(6) {
        width: 90%;
        margin: 10px 0 0 22px;
    }
    .contact-form .main-contact-form {
        height: 584px;
    }
    .search-class .main-search .search-heading {
        font-size: 1.85rem;
    }
    .search-class .main-search .button {
        margin-top: 0px !important;
    }
    .recent-work .main-work h2 {
        padding-bottom: 20px;
        font-size: 1.58rem;
    }
    .recent-work .main-work .item-tab .acc {
        font-size: 0.98rem;
    }
    .recent-work .main-work .item-tab .hlth {
        font-size: 0.98rem;
    }
    .recent-work .main-work .item-tab .insrnce {
        font-size: 0.98rem;
    }
    .our-lawyer .main-lawyer .lawyer-conteny {
        width: 117%;
    }
    .our-lawyer .main-lawyer .image-content .tag-post p::before {
        top: 283px;
    left: 47px;
    width: 25px;
    }
    .our-lawyer .main-lawyer .image-content .heading a {
        font-size: 1.18rem;
    }
    .trend-article .main-trend-article .trend-content .tag-trend 
    {        
        font-size: 0.992rem;
        padding-bottom: 0px;
    }
    .trend-article .main-trend-article .trend-content .trend-heading {
        font-size: 1.60rem;
    }
    .box1 {
        bottom: 218px;
        width: 229px;
        height: 44px;
        padding-top: 15px;
        font-size: 0.6780rem;
    }
    .trend-article .main-trend-article .article-box .article-heading {
        font-size: 1.2512rem;
        padding: 16px 0px 20px 0px;
    }
    .trend-article .main-trend-article .article-box .article-para {
        font-size: 0.7912rem;
    }
    .trend-article .main-trend-article {
        padding-top: 46px;
        padding-bottom: 45px;
    }
    .footer {
        padding-top: 36px;
        background-size: cover;
    }
    .footer .main-footer .footer-content .footer-heading {
        font-size: 0.91rem;
        padding-bottom: 1px;
        padding-top: 0px;
    }
    .footer .main-footer .footer-content .footer-list .footer-items {
        padding-bottom: 0px;
    }
    .footer .main-footer .footer-content .footer-list .footer-items a {
        font-size: 0.92rem;
    }
    .footer .main-footer .footer-content .footer-list {
        padding: 0 0px 0 4px;
    }
    .footer .main-footer .footer-content .footer-number {
        font-size: 1.262rem;
    }
}
@media screen and (max-width: 425px){
    html body .header .logo {
        top: 26px;
    }    
    .fixed1 {
        top: 501px !important;
        right: 23px !important;
    }
    html body .header .nav-menu .temp li a {
        padding: 0;
    }
    html body .header .nav-menu .temp li {
        margin: 0 0 7px 16px;
    }
    html body .header .nav-menu .temp li:nth-child(1) {
        margin: 0 0 7px 15px;
    }
    html body .banner .banner-content {
        width: 100%;
    }
    html body .banner .banner-content .width1 {
        width: 78%;
    }
    html body .banner .banner-content .width1 marquee span p {
        font-size: 0.90rem;
        margin: 0px 0px 5px 12px;
    }
    html body .banner .banner-content .width1 marquee {
        /* width: 400px; */
    }
    html body .banner .banner-content .width3 marquee p {
        font-size: 0.81rem;
    }
    html body .banner .banner-content .width1 marquee span p::before {
        top: 9px;
        left: -43px;
        width: 50px;
    }
    html body .banner .banner-content .width2 marquee h1 {
        letter-spacing: 0.0rem;
        font-size: 1.95rem;
        margin: 0px  28px 0px 0;
    }
    html body .practice-area .practice-content {
        padding: 50px 0 0px 0px;
    }
    html body .practice-area .practice-content .tag-line span::before {
        top: 60px;
        width: 52px;
    }
    html body .practice-area .practice-content .tag-line {
        width: 100%;
    }
    html body .practice-area .practice-content .practice-content-heading {
        padding-left: 19px;
        width: 100%;
    }
    html body .banner .banner-content .width3 {
        width: 100%;
    }
    html body .banner .banner-content .width4 {
        width: 40%;
    }
    .law-agency {
        height: 1080px;
    }
    .contact-form .main-contact-form {
        height: 545px;
    }
    .contact-form .main-contact-form .form-heading {
        padding: 4px 20px 3px 25px;
    }
    .contact-form .main-contact-form form {
        padding: 0px 0px 0;
    }
    .contact-form .main-contact-form form input {
        margin-left: 15px;
    }
    .contact-form .main-contact-form .tag-form::before {
        left: 28px;
    }
    .contact-form .main-contact-form .tag-form {
        padding: 0 0 0 86px;
    }
    .contact-form .main-contact-form form input:nth-child(4) {
        margin: 0 0 0 19px;
    }
    .contact-form .main-contact-form form select {
        margin: 10px 0 9px 16px;
    }
    .contact-form .main-contact-form form textarea {
        margin: 0 0 0 15px;
    }
    .contact-form .main-contact-form form input:nth-child(6) {
        margin: 0px 0 0 12px;
    }
    .recent-work .main-work .item-tab {
        padding-top: 0px;
    }
    .recent-work .main-work .item-tab li a {
        font-size: 1.0rem;
    }
    .recent-work .main-work h2 {
        padding-bottom: 5px;
        font-size: 1.2rem;
        padding-left: 10px;
    }
    .recent-work .main-work {
        padding-top: 111px;
    }
    .recent-work .main-work .item-tab .acc,.recent-work .main-work .item-tab .hlth,.recent-work .main-work .item-tab .insrnce{
        font-size: 0.89rem;
    }
    .search-class .main-search .search-heading {
        font-size: 1.85rem;
        margin: -15px 0 -15px 22px;
    }
    .our-lawyer .main-lawyer .lawyer-conteny {
        width: 100%;
    }
    .search-class .main-search .button {
        margin-top: 25px !important;
    }
    .our-lawyer .main-lawyer {
        padding-top: 38px;
    }
    .our-lawyer .main-lawyer .lawyer-conteny .lawyer-heading {
        padding-top: 10px;
    }
    .our-lawyer .main-lawyer .image {
        margin-top: 5px;
    }
    .our-lawyer .main-lawyer .image-content .tag-post p::before {
        top: 490px;
        left: 124px;
        width: 35px;
    }
    .trend-article .main-trend-article {
        padding-top: 40px;
        padding-bottom: 16px;
    }
    .trend-article .main-trend-article .trend-content .trend-heading {
        padding-bottom: 22px;
        font-size: 1.25rem;
    }
    .trend-article .main-trend-article .trend-content .tag-trend {
        font-size: 0.82rem;
        padding-bottom: 0px;
    }
    .box1 {
    bottom: 305px;
    width: 275px;
    height: 50px;
    padding-top: 17px;
    font-size: 0.70rem;
    }
    .trend-article .main-trend-article .article-box .article-heading {
        font-size: 1.69rem;
        padding: 34px 0px 20px 0px;
    }
    .trend-article .main-trend-article .article-box .article-para {
        font-size: 0.912rem;
    }
    .footer {
    height: 1024px !important;
    padding-top: 38px !important;
    background-size: cover !important;
}
.footer .bottom-footer{
    padding: 20px 25px 0;
}
.my-slider .slider-items p {
    font-size: 0.9rem;
}
.my-slider .slider-items i {
    font-size: 4.5rem;
}
html body .my-about .main-about-banner h2 {
    font-size: 1.90rem;
}
html body .my-about .main-about-banner a {
    width: 164px;
    font-size: 0.99rem;
    margin-bottom: 18px;
}
html body .my-about p {
    font-size: 0.91rem;
}
html body .my-about h4 {
    margin: 22px 0px 0px 3px;
    font-size: 1.02rem;
}
html body .my-about .main-about-banner {
    padding: 22px;
}
}